:root {
    /* Cores */
    --headerclr: #e4e4e4;
    --inputclr: #cccccc;
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --liclr: #e0e0e0;
    --topclr: #000000;
    --cinzacont: rgb(129, 129, 129);
    --gray: rgba(204, 204, 204, 0.45);
    /* Linhas */
    --line: 2px solid #cccccc;
    --clearline: 2px solid var(--white)
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
 font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #e4e4e4

}
body{
    background-color: rgb(0, 0, 0);
}

header h1 {
    font-size: 150px;
    color: white;
}

.searchbar {
    background-color: var(--inputclr);
    gap: 10px;
    width: fit-content;
    padding: 10px;
    border-radius: 60px;
}

header input {
    border: none;
    background-color: var(--inputclr);
    width: 666px;
   
}

header .icons {
    display: flex;
    gap: 90px;

}

header .top {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color:rgb(12, 12, 41);
    padding: 20px;
}
    

header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    border-bottom: var(--line);
    padding-top: 11px;
    padding-bottom: 25px;
    font-size: 100px;
}

header li {
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
    background-color: var(--topclr);
    padding: 0px;
    width: 1000px;
    border-radius: 20px;
    background-color: rgb(12, 12, 41);
}

header li:hover {
    background-color: var(--inputclr);
}

header a:hover {
    color: var(--white);
}

header a {
    color: var(--white);
    text-decoration: none;
}

footer {
    padding: 60px;
    background-color: var(--inputclr);
}


.cont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.cont1,
.cont2 {
    display: flex;
    gap: 8px;
    margin-top: 15px;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 30px;
}

footer li {
    margin-right: 15px;
    padding: 5px;
    width: 175px;
    border-radius: 10px;
}

footer li:hover {
    background-color: var(--black);
}

footer a:hover {
    color: var(--white);
}

footer a {
    color: var(--black);
    text-decoration: none;
}

.cats h2,
.sercli h2 {
    border-bottom: var(--clearline);
    padding-bottom: 15px;
}

.foot {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.catser {
    display: flex;
    gap: 30px;
}

.contact h6 {
    font-size: 14px;
}

.cpry {
    text-align: center;
    border-top: var(--clearline);
    margin-top: 20px;
    padding-top: 15px;
    font-size: 10px;
    color: var(--topclr);
    background-color: black;
}

@media (min-width:768px) and (max-width:1199px) {
    header {
        width: 100%;
    }

    header h1 {
        font-size: 25px;
    }

    .searchbar {
        background-color: var(--inputclr);
        gap: 100px;
        width: 70%;
        border-radius: 10px;
        display: flex;
    }

    header .icons {
        gap: 30px;
    }

    header a {
        text-align: center;
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

@media (max-width:768px) {
    header {
        width: 100%;
    }

    header h1 {
        font-size: 25px;
    }

    .searchbar {
        background-color: var(--inputclr);
        padding: 8px;
        border-radius: 10px;
        width: 70%;
        display: flex;
    }

    header input {
        border: none;
        background-color: var(--inputclr);
        width: 100%;
    }

    header .icons {
        gap: 25px;
    }

    header ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    footer {
        width: auto;
    }

    .foot {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        background-color: black;
    }

}